<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Figures</title>
  </head>
  <body>
    <h1>Figures: </h1>
    <ul>
      <% Figure.all.each do |figure| %>
      <li><a href="/figures/"><%= figure.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
