<h1>Figure Name: <%= @figure.name %></h1>

<h2>Titles:</h2>
<% @figure.titles.each do |title| %>
  <%= title.name %>
  <% end %>
<br>
<h2>Landmarks:</h2>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
  <% end %>
<br>
<h3><a href="/figures/<%= @figure.id %>/edit">Edit This Figure</a></h3>
