<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>History of NYC</title>
  </head>
  <body>
    <h1>Choose an option to learn more:</h1>
    <h2><a href="/figures">Figures</a></h2>
    <h2><a href="/landmarks">Landmarks</a></h2>

  </body>
</html>
